<footer class="footer_container banner_background mt-20 ">
    <section class="bg-black-transparent_footer">
    <section class="grid_container column_gap p-20">
    <div class="social-media pt-10">
        <h2 class="text_center mb-5 block_center"><strong>CONTACT US</strong></h2>
        <div class="grid_container contact_us">
        <p><i class="fa-solid fa-envelope mt-20"></i> <span><a href="mailto:info@icaninnovation.co.zw" target="_blank">info@icaninnovation.co.zw</a></span></p>
        <p><i class="fa-solid fa-phone mt-20"></i> <span><a href="tel:+263 0242 134 613">+263 0242 134 613</a> / <a href="tel:+263 778 253 136" target="_blank">+263 778 253 136</a></span></p>
        <p><i class="fa-brands fa-facebook mt-20"></i> <span><a href="https://m.facebook.com/profile.php?id=61558407350826" target="_blank">I CAN Innovation Hub</a></span></p>
        <p><svg class="x-icon mt-20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#FFF" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg> <span><a href="https://mobile.x.com/icaninnovation" target="_blank">@icaninnovation</a></span></p> 
        <p><i class="fa-brands fa-instagram mt-20"></i> <span><a href="https://www.instagram.com/icaninnovation/profilecard/?igsh=ajlwY3ZubXRocW1k" target="_blank">I Can Innovation Hub</a></span></p>
        <p><i class="fa-brands fa-whatsapp mt-20"></i> <span><a href="https://wa.me/+263778253136" target="_blank">+263 778 253 136</a></span></p>
        <p><i class="fa-brands fa-linkedin mt-20"></i> <span><a href="https://www.linkedin.com/company/i-can-innovation-hub/" target="_blank">I Can Innovation Hub</a></span></p>
    </div>
    </div>
    <div class="pt-10 border_left">
        <h2 class="text_center mb-5"><strong>LOCATION</strong></h2>
        <div class="grid_container row_gap mt-10 inner_grid">
        <div class="mb-10">Stand No. 19,<br>
            New Stands,<br>
            Goromonzi</div>
            <div>158 Herbert Chitepo <br>
                Anlar Court, 1st Floor <br>
                Harare
            </div>
        </div>
        <div class="mt-10">
            <h2 class="text_center"><strong>RESOURCES</strong></h2>
            <div class="grid_container mt-10"><li>Environmental Policy</li>
            <li>Children Policy</li>
            <li>Quality Assurance Policy</li>
            <li>Health & Safety Policy</li>
            <li>Ethics Code</li>
        </div>
    </div>
</section>
    <p class="text_center p-20 est">&copy; I CAN INNOVATION HUB 2002. All rights reserved.</p>
</section>
</footer>