<header class="header_container">
    <img class="inline_block" src="/static/images/Ican_logo.png" alt="company logo">
    <nav class="inline_block nav_li roboto-bold">
        <a class="inline_block" href="{%url 'home'%}"><li>Home</li></a>
        <a class="inline_block" href="{% url 'about_us'%}"><li>About Us</li></a>
        <a class="inline_block" href="{% url 'thematic_areas'%}"><li>Thematic Areas</li></a>
        <a class="inline_block" href="{%url 'services'%}"><li>Services</li></a>
        <a class="inline_block" href="{%url 'team'%}"><li>Meet The Team</li></a>
        <a class="inline_block" href="{%url 'contact_us'%}"><li>Contact Us</li></a>
    </nav>
</header>