*{
    margin: 0;
    overscroll-behavior: none;
    font-family: Roboto;
    scrollbar-width: none;
}

.header_container{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -5px black inset;
    align-items: end;
}

.header_container img {
    width: 7%;
}

.header_container a{
    color: black;
    font-weight: bold;
    padding: 0 10px;
    font-size: 1.55rem;
    font-weight: bold;
}

.header_container a:hover{
    background-color: black;
    color: white;
    padding: 5px 10px ;
    border-radius: 10px;
}
/* Roboto Font */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  /*End of code  */

a{
    text-decoration: none;
}

.text_justify{
    text-align: justify;
}


.nav_li{
    list-style-type: none;
    padding: 5px 10px;
    align-items:center;
    vertical-align: middle;
    color: black; 
     
}


.w-50{
    width: 50%;
}

.w-25{
    width: 25%;
}

.w-75{
    width: 75%;
}

.w-90{
    width: 90%;
}

.bg_blue{
    background-color: rgb(8, 8, 222);
}

.bg_pic{
    background-image: url(/static/images/intro_section.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: 0;
    background-position-x: center;
    width: 100%;
    height: 450px;
}

.body_container{
    color: white;
}

.container_text{
    color: white;
    background-color: #000000a7;
    width: 100%;
    height: 100%;
}

.container_text h1{
    font-size: 4rem;
    margin-bottom: 20px;
    text-wrap: wrap;
    text-align: center;
    font-style: oblique;
    padding-top: 100px;
}

.container_text p{
    font-size: 1.9rem;
    line-height: 1.5;
    margin-bottom: 30px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.main_container{
    background: #fff;
    border-radius: 5px;
    font-size:larger;
}

.inline_block{
    display: inline-block;
}

.grid_container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    bottom: 0;
}

.r_image{
    width: 50px;
    height: 50px;
    padding: 25px;
    border-radius: 50%;
    background-color: black;
}

.fs-1-1{
    font-size: 1.1rem;
}

.column_gap{
    column-gap: 20px;
}

.text_center_container{
    display: block;
    margin: auto;
}

.border_left{
    border-left: 2px white solid;
    padding-left: 15px;
}

.text_center{
    text-align: center;
}

.mt-5{
    margin-top: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}
.pt-10{
    padding-top: 10px;
}

.p-10{
    padding: 10;
}

.p-20{
    padding: 20px;
}

.bg_red{
 background-color: red
}

.reviews_container{
    background-color: red;
    padding: 20px;
    margin-top: 20px;
    color: white;
}

.review_block{
    margin: auto;
    color: rgb(255, 252, 252);
    margin-top: 10px;
    padding: 10px 5px;
    border-radius: 5px;
}

.footer_container{
    background: linear-gradient(30deg, rgb(0, 0, 0), rgb(56, 52, 52),rgb(0, 0, 0));
    color: rgb(239, 231, 231);
    padding: 20px
}

.name_fig_caption{
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.review_flex_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    padding-top: 10px;
    gap: 10px
}

h1{
    font-size: 2.2rem;
}

h2{
    font-size: 2rem;
}

.p-10{
    padding: 10px;
}

.block_center{
    display: block;
    margin: auto;
    
}

.main_diagram{
    display: block;
    height: auto;
    width: 50%;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(36, 58, 78);
    border-radius: 50%;
}

.sect_1{
    background-color: rgb(16, 16, 16);
    padding: 10px;
    border-radius: 5px;

}

.info_img{
    width: 90%;
    display: block;
    margin: auto;
    box-shadow: -25px -25px black inset;
    border-radius: 10px;
    transform: scale(1.4, 1.3);


}

.about_us_1{
    width: 90%;
    border-radius: 20%;
}

.about_us_2{
    width: 90%;
    border: 1px solid #000;
    display: block;
    margin: 50px auto;
    transform: scale(1, 1.3);
    border-radius: 10px;
}

.approach_div{
    margin-top: 5px;
    background-image: url(/static/images/approach.png);
}

.approach_div h3{
    font-size: 4rem;
    font-style: oblique;
    text-align: center ;
}

.approach_div p{
    font-size: 1.5rem;
    padding: 20px;
    width: 75%;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 2.2rem;

}

.bl-2{
    border-left: 2px solid black;
}

.bb-2{
    border-bottom: 2px solid black;

}

.tc_white{
    color: white;
}

.tc_black{
    color: black;
}

.body_icon{
    width: 100px;
}

.thematic_areas_1{
    background-image: url(/static/images/thematic_areas_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.thematic_areas_2{
    filter: brightness(85%);
    width: 75%;
    border-radius: 40px;
}

.bg-black-transparent{
    width: calc(100% - 40px);
    background-color: #000000aa;
    height: 100%;
}

.info_fig{
    width: 50%;
    background-color: #f6f3f3;    
    display: block;
    margin: 60px auto auto auto;
    border-bottom: 0px solid black ;
    border-radius: 10px;
    box-shadow: 500px 500px black inset;
}

.services_1{
    background-image: url(/static/images/services_1.jpg);
    background-position: center;
    background-size: 80%;
    background-clip: border-box;
    width: 100%;

}

.p_space>p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.services_2{
    width: 80%;
    height: 300px;
    transform: scale(1, 1.2);
    border-radius: 30% 50px;
    transform: skew(10deg,-5deg);
}

.skew{
    transform: skewX(-10deg);
    transform: skewY(10deg);
}

.fs-1-3{
    font-size: 1.3rem;
}

.fs-1-5{
    font-size: 1.5rem;
}

.fs-2-0{
    font-size: 2rem;
}

.fs-2-5{
    font-size: 2.5rem;
}

.x-icon{
    width: 15px
}

.oblique{
    font-style: oblique;
}


.profile_picture{
    width: 50px;
    height: 50px;
    border: 1.5px solid black;
    border-radius: 50%
}