{%extends 'layouts/base.html'%}
{%block content%}
<section>

    <div class="w-100 banner_background tc_white block_center">
        <div class="p-20">
            <h1 class="text_center p-20 mt-10 mb-10 fs-5-5"><strong>ABOUT US</strong></h1>
        </div>
    </div>
    <section class="grid_container">
    <div class="bl-2">
        <img class="w-75 about_us_2" src="/static/images/about_us.png" alt="">
    </div>

    <div class="approach_div tc_white">
        <div class="bg-black-transparent_1">
            <div>
                <h3 class=" mt-10 text_center fs-2-5"><strong>Our Approach</strong></h3>
                <p class="block_center fs-1-3 mb-10 p-20"><strong><em>A vital cog</em></strong> in the research, innovation, enterprise development and investment matrix, 
                    our holistic, inclusive approach facilitates speedy uptake of research and innovation 
                    outputs, to feed into the entrepreneurship ecosystem, empowering the 
                    underprivileged and marginalized populations, thus creating jobs and other
                    opportunities, growing the economy from the bottom up and middle out. </p>
            </div>
        </div>
    </div>
</section>
<div class="bg_blue tc_white p-20">
    <div class="grid_container text_center">
    <div>
        <i class="fa-solid fa-bullseye fa-2x mb-10"></i>
    <h3 class="text_center fs-2-0 mt-5">Our Mission</h3>
    <p class="mt-10 fs-1-3">To empower communities through cutting-edge research & innovation outputs.</p>
    </div>
    <div>
        <i class="fa-solid fa-eye fa-2x mb-10"></i>
    <h3 class="text_center fs-2-0 mt-5">Our Vision</h3>
    <p class="mt-10 fs-1-3">To become a leading provider of dynamic research and innovation services.</p>
    </div>
    </div>
    <div class="text_center mt-20 p-20">
        <i class="fa-solid fa-handshake fa-2x mb-10"></i>
    <h3 class="fs-2-0 mt-5">Our Values</h3>
    <p class="mt-10 fs-1-3 ">Inclusion ~ Collaboration ~ Excellence</p>
    </div>
</div>
</section>
{%endblock%}