{%extends 'layouts/base.html'%}
{%block title%}HOME PAGE{%endblock%}
{%block content%}
<section class="mt-20">
    <div class="home_banner">
        <div class="home_img block_center">
                <img class="home_img" src="/static/images/A4 - 1 (1).jpg" alt="">
        </div>
    </div>

    <div class="body_container bg_blue">
        <div class="grid_container p-20">
            <div>
                <p class="mt-10 fs-1-3">Our suite of services supports community and business enterprise empowerment:
                </p>
                <ul>
                    <li class="mt-20 fs-1-3 li"> Research and innovation development</li>
                    <li class="mt-20 fs-1-3 li">Capacity development</li>
                    <li class="mt-20 fs-1-3 li">Impact assessment</li>
                    <li class="mt-20 fs-1-3 li">Strategic business advisory</li>
                    <li class="mt-20 fs-1-3 li">Entrepreneurship development</li>
                </ul>
            </div>
            <figure class="info_fig inline_block skew p-20">
                <img class="info_img" src="static/images/overview_image.png" alt="Company Overview Description">
            </figure>
        </div>
        <p class="w-50 block_center text_center p-20"><strong><em>Our commitment</em></strong> to harness innovation
            empowers communities
            to grow, build capacity, and become sustainable.</p>
    </div>

    <div class="mt-10 mb-10">
        <hr class="home_hr">
        <p class="text_center mt-10 mb-10"><em>Join us in our quest to understand and harness the power of human
                dynamics!</em>
        </p>
        <hr class="home_hr">
    </div>
</section>
{%endblock%}