{%extends 'layouts/base.html'%}
{%block content%}
<section class="mt-20">
    <div class="banner_background">
        <div class="container_text block_center p-20">
            <h1 class="text_center p-20 mt-10">I CAN INNOVATION HUB</h1>
            <p class="w-90 block_center text_center p-20 mb-10">Harnesing creativity and innovation</p>
        </div>
    </div>
    <div class="body_container bg_blue">
        <div class="grid_container p-20">
            <div>
                <p class="mt-10 fs-1-3">Our suite of services supports community and business enterprise empowerment:</p>
                <ul>
                    <li class="mt-20 fs-1-3"> Research and innovation development</li>
                    <li class="mt-20 fs-1-3">Capacity development</li>
                    <li class="mt-20 fs-1-3">Impact assessment</li>
                    <li class="mt-20 fs-1-3">Strategic business advisory</li>
                    <li class="mt-20 fs-1-3">Entreprenuership development</li>
                </ul>
            </div>
            <figure class="info_fig inline_block skew">
                <img class="info_img" src="static/images/overview_image.png" alt="Company Overview Description">
            </figure>
        </div>
        <p class="w-50 block_center text_center p-20"><strong><em>Our commitment</em></strong> to harness innovation empowers communities
            to grow, build capacity, and become sustainable.</p>
    </div>
    <div class="mt-20 ">
        <hr>
        <p class="mt-5 text_center"><em>Join us in our quest to understand and harness the power of human dynamics!</em>
        </p>
        <hr class="mt-5">
    </div>
</section>
</section>
<!-- <section class="reviews_container review_block_bg">
    <div class="bg_red-80 p-20">
    <h2 class="text_center">Reviews</h2>
    <div class="review_flex_container">
        <figure class="review_block w-25">
            <i class="fa-solid fa-user block_center text_center r_image"></i>
            <figcaption class="name_fig_caption block_center text_center mt-5">Denzel Grison</figcaption>
            <hr>
            <p class="text_center mt-10 fs-1-1">I CAN INNOVATION HUB has helped the community of Goromonzi and its population
                through interactive projects which has led to the growth and success of each resident. I praise the
                organisation for their innitiative to improve the livelihoods of our residents.</p>
            </figcaption>
        </figure>
        <figure class="review_block w-25">
            <i class="fa-solid fa-user block_center text_center r_image"></i>
            <figcaption class="name_fig_caption block_center text_center mt-5">Denzel Grison</figcaption>
            <hr>
            <p class="text_center mt-10 fs-1-1">I CAN INNOVATION HUB has helped the community of Goromonzi and its population
                through interactive projects which has led to the growth and success of each resident. I praise the
                organisation for their innitiative to improve the livelihoods of our residents.</p>
            </figcaption>
        </figure>
        <figure class="review_block w-25">
            <i class="fa-solid fa-user block_center text_center r_image"></i>
            <figcaption class="name_fig_caption text_center mt-5">Denzel Grison</figcaption>
            <hr>
            <p class="text_center mt-10 fs-1-1">I CAN INNOVATION HUB has helped the community of Goromonzi and its population
                through interactive projects which has led to the growth and success of each resident. I praise the
                organisation for their innitiative to improve the livelihoods of our residents.</p>
            </figcaption>
        </figure>
    </div>
</div>
</section> -->
{%endblock%}