{%extends 'layouts/base.html'%}
{%block content %}
<section class="p-20">
    <h2 class="text_center">Our Services</h2>
    <div>
        <img src="" alt="">
        <div>
        <h3>Research & Analytics</h3>
                <strong><em>Collaborative Researchfor Social Impact</em></strong> <br> We provide cutting-edge research and tailored design and field services that ensure the realworld applicability of our research findings.</p>
                <h4>Importance of Research:</h4>
                        <p>Understanding Social Issues</p>
                        <p>Evidence-based initiatives </p>
                        <p>Collaborations</p>
                        <p>Academic Institutions</p>
                        <p>Researchers</p>
                        <p>Outcomes</p>
                        <p>Effective intervention insights generated</p>
                    </div>
            <div>
                <h3>Services on Offer</h3>
            <div>
            <h4>Quantitative Services</h4>
                <p>Face-to-Face Interviews</p>
                <p>Central Location Tests</p>
                <p>Computer Aided Telephonic Interviews(CAT)</p>
                <p>Computer Assisted Personal Interviews(CAPI)</p>
            </div>
            <div>
                <h4>Qualitative Services</h4>
                <p>Focus/Online Focus Groups</p>
                <p>In-depth Interviews</p>
                <p>Ethnographic Market Research</p>
                <p>Online Bulletin Boards</p>
                <p>Usability and Testing Research</p>
            </div>
        <div>
            <h4>Analytics</h4>
            <p>Data management Solution:</p>
            <ul>
                <li>Data entry</li>
                <li>Data processing</li>
                <li>Data engineering</li>
                <li>Data analytics consulting: Data analysis services (Using Statistical Software R, SAS, MS Excel and
                    SPSS Data cleaning)</li>
                    <li>Data Visualisation Reports</li>
                    <li>Data Visualising Consulting</li>
            </ul>
        </div>
        <div>
            <h3>Capacity, Tech Talent development</h3>

            <p><strong><em>Empowering the Future Through Knowledge and Innovation</em></strong><br>						
                Leveraging technology to make learning experiences more 
                interactive, immersing, and interesting, our digital learning 
                approach is designed to engage, educate, and empower 
                learners of all ages.<br>
                Our Digital technology and tech-driven education solutions 
                bring value by transforming lives, and empowering women and 
                youth, equipping them with in-demand skills for the digital 
                economy. <br>
                Our e-learning solutions are designed to facilitate flexible learning opportunities </p>
        </div>
    </div>
    <div>
        <h3>Courses on Offer</h3>
        <div>
            <div>
                <h3>Computer Courses</h3>
                <div class="grid_container">
                <p>Certificate in Computer applications, social media and professional skills</p>
                <p>Certificate in information Systems</p>
                <p>Networking-diploma in Window Server Networking</p>
                <p>Cert in Networking</p>
                <p>Diploma in Networking</p>
                <p>Cert in Unix networking</p>
                <p>Cert in Computer fundamentals</p>
                <p>Diploma in information Technology</p>
                <p>Diploma in Graphic Design</p>
                <p>Diploma in Internet Security</p>
                <p>Data Analytics & Data Science</p>
                <p>Diploma in programming</p>
                <p>Diploma in Advanced Programming</p>
                <p>Diploma in Database Admin</p>
                <p>Diploma in Web Design</p>
                <p>Diploma in Data Science Statistical Methods using excel</p>
                <p>Diploma in Project management</p>
                <p>Diploma in Marketing</p>
                <p>International Computer Driving License </p></div>
            <div>
                <h4>Academic & Professional Courses</h4>
            </div>
            <div>
                <h4>Vocational Training Courses</h4>
            </div>
            </div>
         </div>
    </div>
    <div>
        <h3>Monitoring & Evaluation</h3>
        <div>
            <p>Our	M	& E	 services	assess	the	effectiveness	and	impact	of programs,	and	initiatives	to	ensure	accountability	and continuous	improvement.</p>
            <p><strong><em>Monitoring	&	Evaluation Frameworks:</em></strong> we	Assist	
                organizations/community	actors in	establishing robust	M&E frameworks.</p>
                <p><strong><em>Program Assessment:</em></strong>Comprehensive evaluations to measure the effectiveness of initiatives.</p>
                 <p><strong><em>Impact Evaluations: </em></strong>Assessing the long-term effects of projects
                    on target populations.</p>
                    <p><strong><em>Data Analysis & Reporting:</em></strong>Clear, actionable reports to support
                        informed decision-making.</p>
            </div>
        <div>
            <h3>Services on Offer</h3>
            <p>Baseline, midterm, and end-term impact evaluations
                Support the Monitoring and Evaluation (M&E) process and develop a monitoring framework for research and
                training projects. <br>
                Ensure project activities comply with the policies and regulations of the donor organization.
                Overseeing the development and execution of project deliverables, leading project planning, budgeting, action plans and monitoring processes. <br>
                Support the Monitoring and Evaluation (M&E) process and develop a monitoring framework for research and
                training projects. <br>
                Quantitative & qualitative analysis of data
                Design and implementation of data systems for monitoring and evaluating project support.
                Enhance the capacity of community/organisation personnel to collect, manage, and use data for M&E </p>
        </div>

    </div>
    <div>
        <h2>Business Consultancy</h2>
        <div>
            <p>SME, starups business consultancy
                internal workflow and the inner workings
                of the company as a whole, such as
                structure, organization,
                operations/workflows, hierarchy,
                business environment, and others</p>
        </div>
        <div>
            <p>Our specialist services are designed to meet the diverse needs of our clients in key areas:</p>
        </div>
        <h3>Services on Offer</h3>
        <div>
                <h4>Trade, Investment & Finance</h4>
                <p>Strategic guidance on market entry and investment opportunities, alongside Financial analysis and reporting to inform decisionmaking.</p>
                <h4>Tender consultancy Services</h4>
            </p>End-to-end Tender management solutions, bid planning, writing, and thorough reviews to maximize success rates.</p>
        </h4>Project Management</h4>
    <p>Comprehensive project planning and execution services utilising
                    agile methodologies to ensure timely and efficient project delivery.</p>
            </div>
            <div>
                <h4>Legal Services</h4>
                    <p>Support for SMEs, new business in navigating legal challenges and compliance.<br>
                    Expert legal consultancy tailored to organizational/individual needs.</p>
                    <h4>Proxy Services</h4>
                    </p>Representation and advocacy in corporate governance and shareholder matters. <br>
                    Ensuring transparency and compliance in business operation. <br>
                    Tailored support for various meeting types</p>
            </div>
        </div>
    </div>

</section>
{%endblock%}