{%extends 'layouts/base.html'%}
{%block title%}SERVICES PAGE{%endblock%}
{%block content %}
    <section class="banner_background tc_white w-100">
    <div class="bg-black-transparent_1">
        <div class="p-20">
    <h2 class="text_center fs-5-5"><strong>SERVICES</strong></h2>
    <p class="text_center fs-1-7 w-90 block_center">Our services are designed to help organizations solve complex social issues by providing innovative solutions that leverage the power of data and analytics.</p>
    </div>
</div>
    </section>

    <section class="flex_container services_bg">

    <section class="bg_blue-80 tc_white w-100">
    <section class="mt-20 grid_container">
        <div class="p-20 mb-10">
        <img class="services_2 p-20 block_center" src="/static/images/services_2.png" alt="">
        </div>
        <div class="fs-1-3 mt-20 mb-10 p-20">
            <h3 class="fs-2-0 text_justify"><strong>Research & Analytics</strong></h3>

                <p class="mt-20 mb-10 "><strong class="fs-1-5"><em>Collaborative Research for Social Impact</em></strong> <br> We provide cutting-edge research and tailored design and field services that ensure the real world applicability of our research findings. Services provided include but not limited to Quantitative, Qualitative and Analytic Services.</p>
              
                <button class="prompt_button block_center mt-20 button bg_red w3-button w3-black" onclick="document.getElementById('id01').style.display='block'">Read More</button>
        </div>
    </section>
    
 

            <div id="id01" class="w3-modal p-20">
              <div class="w3-modal-content">
                <header class="w3-container bg_blue"> 
                  <span onclick="document.getElementById('id01').style.display='none'" 
                  class="w3-button w3-display-topright">&times;</span>
                  <h2 class="text_center fs-2-0"><strong>***CONTINUATION***</strong></h2>
                </header>
                <div class="w3-container tc_black">
                    <h4 class="mt-20 oblique fs-1-5"><strong>Importance of Research:</strong></h4>
                    <div class="grid_container fs-1-2">
                            <p class="mt-5">Understanding Social Issues</p>
                            <p class="mt-5">Evidence-based initiatives </p>
                            <p class="mt-5">Collaborations</p>
                            <p class="mt-5">Academic Institutions</p>
                            <p class="mt-5">Researchers</p>
                            <p class="mt-5">Outcomes</p>
                            <p class="mt-5">Effective intervention insights generated</p>
                    </div>
                    <section>
                        <h4 class="fs-1-5 text_center"><strong>Services on Offer</strong></h4>
                            <div class="grid_container fs-1-2">   
                                <div>
                                <h5 class="fs-1-3 mb-10 text_center"><strong>Quantitative Services</strong></h5>
                                <div class="grid_container">
                                    <p class="mt-5 mb-5">Face-to-Face Interviews</p>
                                    <p class="mt-5 mb-5">Central Location Tests</p>
                                    <p class="mt-5 mb-5">Computer Aided Telephonic Interviews(CAT)</p>
                                    <p class="mt-5 mb-5">Computer Assisted Personal Interviews(CAPI)</p>
                                </div>
                                </div>
                                <div class="mb-10">
                                    <h4 class="fs-1-3 mb-10 text_center"><strong>Qualitative Services</strong></h4>
                                    <div class="grid_container ">
                                    <p class="mt-5 mb-5">Focus/Online Focus Groups</p>
                                    <p class="mt-5 mb-t">In-depth Interviews</p>
                                    <p class="mt-5 mb-5">Ethnographic Market Research</p>
                                    <p class="mt-5 mb-5">Online Bulletin Boards</p>
                                    <p class="mt-5 mb-5">Usability and Testing Research</p>
                                </div>
                                </div>
                            </div>
                            <div class="text_justify mb-10">
                                <h4 class="fs-1-3 text_center mt-10"><strong>Analytics</strong></h4>
                                <p class="fs-1-2"><strong>Data management Solution:</strong></p>
                                <div class="grid_container fs-1-2">
                                    <p class="mt-5 mb-5 fs-1-2">Data entry</p>
                                    <p class="mt-5 mb-5">Data processing</p>
                                    <p class="mt-5 mb-5">Data engineering</p>
                                        <p class="mt-5 mb-5">Data Visualization Reports</p>
                                        <p class="mt-5 mb-5">Data Visualizing Consulting</p>
                                        <p class="mt-5 mb-5">Data analytics consulting: Data analysis services (Using Statistical Software R, SAS, MS Excel and
                                            SPSS Data cleaning)</p>
                                    </div>
                            </div>
                            </section>
                </div>
                <footer class="w3-container bg_blue">
                  <p></p>
                </footer>
              </div>
            </div>
    </section>

    <section class="bg_red-80 fs-1-3 tc_white w-100 ">
        <section class="grid_container mt-20 mb-10">
            <div  class="p-20">
                <h3 class="fs-2-0 text_justify"><strong>Capacity, Tech Talent development</strong></h3>
                
                <p class="mb-10 w-90 text_justify"><strong><em>Empowering the Future Through Knowledge and Innovation</em></strong><br>						
                    <strong>Leveraging technology</strong> to make learning experiences more 
                    interactive, immersing, and interesting, our approach is designed to engage, educate, and empower 
                    learners of all ages. <br>
                    <strong>Our Digital technology and tech-driven education</strong> solutions 
                    bring value by transforming lives, and empowering women and 
                    youth, marginalized populations, equipping them with in-demand skills for the digital economy.</p>
                    <button class="prompt_button block_center mt-20 button bg_blue w3-button w3-black" onclick="document.getElementById('id02').style.display='block'">Read More</button>
            </div>
        <div class="p-20 image_margin">
            <img class="services_2 skew p-20 block_center" src="/static/images/volunteer-future-expertise-future-ideas-growth-plans-concept.jpg" alt="">
            </div>
       
            <div id="id02" class="w3-modal p-20">
                <div class="w3-modal-content">
                  <header class="w3-container bg_red"> 
                    <span onclick="document.getElementById('id02').style.display='none'" 
                    class="w3-button w3-display-topright">&times;</span>
                    <h2 class="text_center fs-2-0"><strong>***CONTINUATION***</strong></h2>
                  </header>
                <div class="w3-container tc_black">
                    <div>
                        <h3 class="text_center fs-1-5 "><strong>Courses on Offer</strong></h3>
                            <div>
                                <h3 class="fs-1-3"><strong>Computer Courses</strong></h3>
                                <div class="grid_container p_space column_gap fs-1-2">
                                <p>Certificate in Computer applications, social media and professional skills</p>
                                <p>Certificate in information Systems</p>
                                <p>Networking-diploma in Window Server Networking</p>
                                <p>Cert in Networking</p>
                                <p>Diploma in Networking</p>
                                <p>Cert in Unix networking</p>
                                <p>Cert in Computer fundamentals</p>
                                <p>Diploma in information Technology</p>
                                <p>Diploma in Graphic Design</p>
                                <p>Diploma in Internet Security</p>
                                <p>Data Analytics & Data Science</p>
                                <p>Diploma in programming</p>
                                <p>Diploma in Advanced Programming</p>
                                <p>Diploma in Database Admin</p>
                                <p>Diploma in Web Design</p>
                                <p>Diploma in Data Science Statistical Methods using excel</p>
                                <p>Diploma in Project management</p>
                                <p>Diploma in Marketing</p>
                                <p>International Computer Driving License </p>
                            </div>
                            <div class="grid_container text_center mb-10">
                                <div>
                                    <h4 class="fs-1-3 "><strong>Academic & Professional Courses</strong></h4>
                                </div>
                                <div >
                                    <h4 class="fs-1-3 "><strong>Vocational Training Courses</strong></h4>
                                </div>
                            </div>
                    </div> 
                </div>
                  </div>
                  <footer class="w3-container w3-teal">
                    <p></p>
                  </footer>
                </div>
              </div>
        
    </section>
    </section>
    
<section class="bg_blue-80 fs-1-3 tc_white w-100 ">
    <section class="grid_container mt-20 mb-10">
    <div class="p-20 mb-10">
        <img class="services_2 p-20 block_center" src="/static/images/operation-procedure-action-ideas-goal-concept.jpg" alt="">
        </div>
        <div class="p-20">
        <h3 class="fs-2-0 text_justify"><strong>Monitoring & Evaluation</strong></h3>
             <p class="text_justify mb-10 mt-10">Our	M	& E	 services	assess	the	effectiveness	and	impact	of programs,	and	initiatives	to	ensure	accountability	and continuous	improvement. We design Monitoring & Evaluation Frameworks, Program Assessment, Impact Evaluations and Data Analysis & Reporting. </p> 
                <button class="prompt_button block_center mt-20 button bg_red w3-button w3-black" onclick="document.getElementById('id03').style.display='block'">Read More</button>
        </div> 
        </div>
    </section>
    <div id="id03" class="w3-modal p-20">
        <div class="w3-modal-content">
          <header class="w3-container bg_blue"> 
            <span onclick="document.getElementById('id03').style.display='none'" 
            class="w3-button w3-display-topright">&times;</span>
            <h2 class="text_center fs-2-0"><strong>***CONTINUATION***</strong></h2>
          </header>
            <div class="w3-container mb-10">
                <p class="tc_black">In addition we Support the Monitoring and Evaluation (M&E) process and develop a monitoring framework for research and
                    training projects. <br>
                    Ensure project activities comply with the policies and regulations of the donor organization.
                    Overseeing the development and execution of project deliverables, leading project planning, budgeting, action plans and monitoring processes. <br>
                    Quantitative & qualitative analysis of data
                    Design and implementation of data systems for monitoring and evaluating project support.
                    Enhance the capacity of community/organization personnel to collect, manage, and use data for M&E.</p>
            </div>
          <footer class="w3-container">
            <p></p>
          </footer>
        </div>
</section>

<section class="bg_red-80 fs-1-3 tc_white w-100 ">
    <section class="grid_container mt-20 mb-10">
        <div class="p-20">
            <h3 class="fs-2-0 text_justify"><strong>Business Consultancy</strong></h3>
                <p class="text_justify mb-10 mt-10"  > We provide SMEs, start-ups business consultancy,
                    internal workflow and the inner workings
                    of the organization, including
                    structure
                    operations/workflows,
                    business environment. <br>Our specialist services are designed to meet the diverse needs of our clients in key areas and these include Trade, Investment & Finance, Legal Services and Project Management.</p>
                    <button class="prompt_button block_center mt-20 button bg_blue w3-button w3-black" onclick="document.getElementById('id04').style.display='block'">Read More</button>
    </div>
        <div class="p-20 mb-10 image_margin">
            <img class="services_2 skew p-20 block_center" src="/static/images/top-view-business-contract-form-with-coffee-eyeglasses-car-calculator-pen-with-magnifying-glass-wooden-background.jpg" alt="">
            </div>
       
       
    </section>


         
        <div id="id04" class="w3-modal p-20">
          <div class="w3-modal-content">
            <header class="w3-container bg_red"> 
              <span onclick="document.getElementById('id04').style.display='none'" 
              class="w3-button w3-display-topright">&times;</span>
              <h2 class="text_center fs-2-0"><strong>***CONTINUATION***</strong></h2>
            </header>
            <div class="w3-container tc_black">
                <div>
                    <h4 class="text_center fs-1-5"><strong>Services on Offer</strong></h4>
                    <div class="grid_container fs-1-2 column_gap">
                        <div>
                            <h5 class="fs-1-3"><strong>Trade, Investment & Finance</strong></h5>
                            <p>Strategic guidance on market entry and investment opportunities, alongside Financial analysis and reporting to inform decision making.</p>
                        </div>
                        <div>
                            <h5 class="fs-1-3"><strong>Tender consultancy Services</strong></h5>
                        </p>End-to-end Tender management solutions, bid planning, writing, and thorough reviews to maximize success rates.</p>
                    </div>
                    <div>
                    <h5 class="fs-1-3"><strong>Project Management</strong></h5>
                <p>Comprehensive project planning and execution services utilizing
                                agile methodologies to ensure timely and efficient project delivery.</p>
                        </div>
                        <div>
                            <h5 class="fs-1-3"><strong>Legal Services</strong></h5>
                                <p>Support for SMEs, new business in navigating legal challenges and compliance.<br>
                                Expert legal consultancy tailored to organizational/individual needs.</p>
                            </div>
                            <div class="mb-10">
                                <h5 class="fs-1-3"><strong>Proxy Services</strong></h5>
                                </p>Representation and advocacy in corporate governance and shareholder matters. <br>
                                Ensuring transparency and compliance in business operation. <br>
                                Tailored support for various meeting types.</p>
                         </div>
                </div>
            </div>
            </div>
            <footer class="w3-container bg_red">
              <p></p>
            </footer>
          </div>
        </div>
      
    </section>
</section>
</section>

{%endblock%}