{%extends 'layouts/base.html'%}
{%block content %}

    <section class="services_1 tc_white oblique">
    <div class="bg-black-transparent">
    <h2 class="text_center fs-2-5 p-20">Our Services</h2>
    <p class="text_center fs-1-5 p-20">Our services are designed to help organizations solve complex social issues by providing innovative solutions that leverage the power of data and analytics.</p>
    </div>
    </section>

    <section class="bg_blue tc_white p-20">
    <h3 class="fs-2-0 text_center">Research & Analytics</h3>
    <section class="grid_container mt-20">
        <div>
        <img class="services_2 p-20" src="/static/images/services_2.png" alt="">
        </div>
        <div class="fs-1-3">
                <strong class="fs-1-5"><em>Collaborative Researchfor Social Impact</em></strong> <br> We provide cutting-edge research and tailored design and field services that ensure the realworld applicability of our research findings.</p>
                <h4 class="mt-20 oblique fs-1-5">Importance of Research:</h4>
                <div class="grid_container">
                        <p class="mt-10">Understanding Social Issues</p>
                        <p class="mt-10">Evidence-based initiatives </p>
                        <p class="mt-10">Collaborations</p>
                        <p class="mt-10">Academic Institutions</p>
                        <p class="mt-10">Researchers</p>
                        <p class="mt-10">Outcomes</p>
                        <p class="mt-10">Effective intervention insights generated</p>
                </div>
        </div>
    </section>
    
    <section>
    <h3 class="fs-2-0 text_center mt-20 p-20">Services on Offer</h3>
        <div class="grid_container fs-1-3">   
            <div>
            <h4 class="fs-1-5 mb-10 text_center">Quantitative Services</h4>
            <div class="grid_container">
                <p class="mt-10 mb-10">Face-to-Face Interviews</p>
                <p class="mt-10 mb-10">Central Location Tests</p>
                <p class="mt-10 mb-10">Computer Aided Telephonic Interviews(CAT)</p>
                <p class="mt-10 mb-10">Computer Assisted Personal Interviews(CAPI)</p>
            </div>
            </div>
            <div class="mb-10">
                <h4 class="fs-1-5 mb-10 text_center">Qualitative Services</h4>
                <div class="grid_container">
                <p class="mt-10 mb-10">Focus/Online Focus Groups</p>
                <p class="mt-10 mb-10">In-depth Interviews</p>
                <p class="mt-10 mb-10">Ethnographic Market Research</p>
                <p class="mt-10 mb-10">Online Bulletin Boards</p>
                <p class="mt-10 mb-10">Usability and Testing Research</p>
            </div>
            </div>
        </div>
        <div class="fs-1-3">
            <h4 class="fs-1-5 text_center mt-20">Analytics</h4>
            <p><strong>Data management Solution:</strong></p>
            <div class="grid_container">
                <p class="mt-10 mb-10">Data entry</p>
                <p class="mt-10 mb-10">Data processing</p>
                <p class="mt-10 mb-10">Data engineering</p>
                    <p class="mt-10 mb-10">Data Visualisation Reports</p>
                    <p class="mt-10 mb-10">Data Visualising Consulting</p>
                    <p class="mt-10 mb-10">Data analytics consulting: Data analysis services (Using Statistical Software R, SAS, MS Excel and
                        SPSS Data cleaning)</p>
                </div>
        </div>
        </section>
    </section>

    <section class="p-20 bg_red fs-1-3 tc_white">
        <div>
            <h3 class="fs-2-0 text_center">Capacity, Tech Talent development</h3>
            <p class="p-20 block_center w-90"><strong><em>Empowering the Future Through Knowledge and Innovation</em></strong><br>						
                Leveraging technology to make learning experiences more 
                interactive, immersing, and interesting, our digital learning 
                approach is designed to engage, educate, and empower 
                learners of all ages.<br>
                Our Digital technology and tech-driven education solutions 
                bring value by transforming lives, and empowering women and 
                youth, equipping them with in-demand skills for the digital 
                economy. <br>
                Our e-learning solutions are designed to facilitate flexible learning opportunities </p>
        </div>
    <div>
        <h3 class="text_center fs-1-5">Courses on Offer</h3>
            <div>
                <h3 class="fs-1-5">Computer Courses</h3>
                <div class="grid_container p_space">
                <p>Certificate in Computer applications, social media and professional skills</p>
                <p>Certificate in information Systems</p>
                <p>Networking-diploma in Window Server Networking</p>
                <p>Cert in Networking</p>
                <p>Diploma in Networking</p>
                <p>Cert in Unix networking</p>
                <p>Cert in Computer fundamentals</p>
                <p>Diploma in information Technology</p>
                <p>Diploma in Graphic Design</p>
                <p>Diploma in Internet Security</p>
                <p>Data Analytics & Data Science</p>
                <p>Diploma in programming</p>
                <p>Diploma in Advanced Programming</p>
                <p>Diploma in Database Admin</p>
                <p>Diploma in Web Design</p>
                <p>Diploma in Data Science Statistical Methods using excel</p>
                <p>Diploma in Project management</p>
                <p>Diploma in Marketing</p>
                <p>International Computer Driving License </p></div>
                <div class="grid_container">
            <div class="p-20">
                <h4 class="fs-1-5 p-20">Academic & Professional Courses</h4>
            </div>
            <div class="p-20">
                <h4 class="fs-1-5 p-20">Vocational Training Courses</h4>
            </div>
        </div>
        </div>
    </div>
    </section>
    
<section>
        <h3>Monitoring & Evaluation</h3>
        <div>
            <p>Our	M	& E	 services	assess	the	effectiveness	and	impact	of programs,	and	initiatives	to	ensure	accountability	and continuous	improvement.</p>
            <p><strong><em>Monitoring	&	Evaluation Frameworks:</em></strong> we	Assist	
                organizations/community	actors in	establishing robust	M&E frameworks.</p>
                <p><strong><em>Program Assessment:</em></strong>Comprehensive evaluations to measure the effectiveness of initiatives.</p>
                 <p><strong><em>Impact Evaluations: </em></strong>Assessing the long-term effects of projects
                    on target populations.</p>
                    <p><strong><em>Data Analysis & Reporting:</em></strong>Clear, actionable reports to support
                        informed decision-making.</p>
            </div>
        <div>
            <h3>Services on Offer</h3>
            <p>Baseline, midterm, and end-term impact evaluations
                Support the Monitoring and Evaluation (M&E) process and develop a monitoring framework for research and
                training projects. <br>
                Ensure project activities comply with the policies and regulations of the donor organization.
                Overseeing the development and execution of project deliverables, leading project planning, budgeting, action plans and monitoring processes. <br>
                Support the Monitoring and Evaluation (M&E) process and develop a monitoring framework for research and
                training projects. <br>
                Quantitative & qualitative analysis of data
                Design and implementation of data systems for monitoring and evaluating project support.
                Enhance the capacity of community/organisation personnel to collect, manage, and use data for M&E </p>
        </div>
</section>

<section>
    <div>
        <h3>Business Consultancy</h3>
<div>
            <p>SME, starups business consultancy
                internal workflow and the inner workings
                of the company as a whole, such as
                structure, organization,
                operations/workflows, hierarchy,
                business environment, and others</p>
</div>
        <div>
            <p>Our specialist services are designed to meet the diverse needs of our clients in key areas:</p>
        </div>
        <h4>Services on Offer</h4>
        <div>
                <h5>Trade, Investment & Finance</h5>
                <p>Strategic guidance on market entry and investment opportunities, alongside Financial analysis and reporting to inform decisionmaking.</p>
                <h5>Tender consultancy Services</h5>
            </p>End-to-end Tender management solutions, bid planning, writing, and thorough reviews to maximize success rates.</p>
        </h5>Project Management</h5>
    <p>Comprehensive project planning and execution services utilising
                    agile methodologies to ensure timely and efficient project delivery.</p>
            </div>
            <div>
                <h5>Legal Services</h5>
                    <p>Support for SMEs, new business in navigating legal challenges and compliance.<br>
                    Expert legal consultancy tailored to organizational/individual needs.</p>
                    <h5>Proxy Services</h5>
                    </p>Representation and advocacy in corporate governance and shareholder matters. <br>
                    Ensuring transparency and compliance in business operation. <br>
                    Tailored support for various meeting types</p>
            </div>
    </div>
    </section>
{%endblock%}