{%extends 'layouts/base.html'%}
{%block title%}MEET THE TEAM{%endblock%}
{%block content%}
<div class="banner_background">
    <div class="bg-black-transparent_1">
        <h2 class="text_center fs-5-5 tc_white p-95"><strong> MEET THE TEAM</strong></h2>

    </div>
</div>
<section class="p-20 team_picture text_center">

    <div class="grid_container column_gap text_justify">
        <figure class="profile_container">
            <img class="profile_picture" src="/static/images/Ceo_Allen.jpg" alt="picture of Allen Zimuto">
            <div class="text_center mt-5">
                <h3>Allen Zimuto</h3>
                <h4 class="mt-5">CEO & Founder</h4>
            </div>
            <figcaption class="mt-10 fs-1-2">
                Dynamic and results-oriented Chief Executive Officer (CEO) with
                extensive leadership experience across diverse sectors, including
                retail, wholesale & distribution, steel fabrication, Information and
                Communications Technology (ICT), and research and
                development.
            </figcaption>
        </figure>
        
        <figure class="profile_container">
            <img class="profile_picture" src="/static/images/tarisai.jpg" alt="picture of Dr. Tarisai">
            <div class="text_center mt-5">
                <h3>Dr. Tarisayi Rukuni</h3>
                <h4 class="mt-5">Associate Consultant - Research</h4>
            </div>
            <figcaption class="mt-10 fs-1-2">Leading the research portfolio, Dr.Rukuni possess vast experience in
                Academia-Industry for
                sustainable development initiatives. Researcher, peer
                reviewer, PhD, Masters, Honours students mentorship.
             
            </figcaption>
        </figure>

        <figure class="profile_container">
            <img class="profile_picture" src="/static/images/susan.jpg" alt="picture of Susan Mahakat">
            <div class="text_center mt-5">
                <h3>Susan Mahakata</h3>
                <h4 class="mt-5">Associate Consultant - Software Development</h4>
            </div>
            <figcaption class="mt-10 fs-1-2">Experienced Software Developer with expertise in
                systems analysis, database management, and software solutions.
                Proficient in infrastructure architecture, application installations,
                and maintenance. 
            </figcaption>
        </figure>
        <figure class="mt-20 profile_container">
            <img class="profile_picture" src="/static/images/samuel.jpg" alt="picture of Samuel Zimuto">
            <div class="text_center mt-5">
                <h3>Samuel Zimuto</h3>
                <h4 class="mt-5">Innovation & Digital Director</h4>
            </div>
            <figcaption class="mt-10 fs-1-2 ">Versatile digital technology practitioner with expertise in
                leveraging innovative solutions to optimize business performance
                across UK and Southern African markets. Skilled in business
                process re-engineering, marketing, and customer liaison.
               
            </figcaption>
        </figure>

        <figure class="mt-20 profile_container">
            <img class="profile_picture" src="/static/images/ashley.jpg" alt="picture of Ashley Ndemera">
            <div class="text_center mt-5">
                <h3>Ashley Ndemera</h3>
                <h4 class="mt-5">Client Relations Officer</h4>
            </div>
            <figcaption class="mt-10 fs-1-2">Experience in building and nurturing strong client
                relationships. Proven track record of enhancing client
                satisfaction and retention through strategic account
                management and effective communication.
               
            </figcaption>
        </figure>
    </div>
</section>
{%endblock%}