{%extends 'layouts/base.html'%}
{%block title%}MEET THE TEAM{%endblock%}
{%block content%}
<div class="banner_background">
    <div class="bg-black-transparent_1">
        <h2 class="text_center fs-5-5 tc_white p-95"><strong> MEET THE TEAM</strong></h2>

</div>
</div>
    <section class="p-20 team_picture text_center">
   
    <div class="grid_container column_gap text_justify">
    <figure class="profile_container">
        <img class="profile_picture" src="/static/images/6e1e35be5ac9440e80a0163c87b4fa00.jpeg" alt="picture of Allen Zimuto">
        <div class="text_center mt-5">
        <h3>Allen Zimuto</h3>
        <h4 class="mt-5">CEO & Founder</h4>
        </div>
        <figcaption class="mt-10 fs-1-2">
            Dynamic and results-oriented Chief Executive Officer (CEO) with
extensive leadership experience across diverse sectors, including
retail, wholesale & distribution, steel fabrication, Information and
Communications Technology (ICT), and research and
development. <!-- Proven track record in tender management,
successfully bidding for projects related to local area networks
(LAN), wide area networks (WAN), and internet services provision,
solar power solutions,
Possesses strong skills in concept development for various
business domains such as retail strategies, quick service
restaurants (QSR), forecourt businesses, broiler farming, and
integrated research center operations. Adept at strategic planning
and operations management, with a focus on aligning
departmental objectives with overall company strategy. -->
        </figcaption>
    </figure>
        
    <figure class="profile_container">
        <img class="profile_picture" src="/static/images/tarisai.jpg" alt="picture of Dr. Tarisai">
        <div class="text_center mt-5">
        <h3>Dr. Tarisayi Rukuni</h3>
        <h4 class="mt-5">Associate Consultant Researcher</h4>
    </div>
        <figcaption class="mt-10 fs-1-2">Leading the research portfolio, Dr.Rukuni possess vast experience in Academia-Industry for
            sustainable development initiatives. Researcher, peer
            reviewer, PhD, Masters, Honours students mentorship.
            <!-- Team leader TATA community Development programs
            He is a is a holder of a Ph.D Marketing, Master of
            Business Administration (MBA); Bachelor of Commerce
            degree in Marketing and Economics, Postgraduate
            Diploma in Higher Education and Certificate in
            Doctoral Supervision. He is a senior lecturer at the
            University of the Free State. Tarisai is also a visiting
            professor at New York University (USA) and
            Hochschule Fulda University of Applied Sciences
            (Germany). Author of various publications focusing on --> </figcaption>
    </figure>

    <figure class="profile_container">
        <img class="profile_picture" src="/static/images/susan.jpg" alt="picture of Susan Mahakat">
        <div class="text_center mt-5">
        <h3>Susan Mahakata</h3>
        <h4 class="mt-5">Associate Consultant - Software Developer</h4>
    </div>
        <figcaption class="mt-10 fs-1-2">Experienced Software Developer with expertise in
            systems analysis, database management, and software solutions.
            Proficient in infrastructure architecture, application installations,
           and maintenance.  <!-- Passionate lecturer in programming and data
            analytics, committed to fostering knowledge and skills in others.
            Accomplished researcher and author contributing to
            advancements in technology and education. Adept at delivering
            innovative solutions to complex challenges while ensuring
            operational excellence-->
        </figcaption> 
    </figure>

    <figure class="mt-20 profile_container">
        <img class="profile_picture" src="/static/images/leonard.jpg" alt="picture of Leonard Mbwanda">
        <div class="text_center mt-5">
        <h3>Leonard Mbwanda</h3>
        <h4 class="mt-5">Research Executive</h4>
    </div>
        <figcaption class="mt-10 fs-1-2">Data Management and Analysis Expert with extensive
            experience in research design, statistical analysis, and
            report writing. He specializes in survey design and
            management, ensuring rigorous data collection and
            processing. 
            <!-- With a strong foundation in monitoring and
            evaluation, Leonard has conducted baseline, midterm,
            and end-term impact evaluations while upholding high
            standards of quality control. His competencies also
            include database management and statistical training,
            enabling organizations to utilize data effectively.
        </figcaption> -->
    </figure>

    <figure class="mt-20 profile_container">
        <img class="profile_picture" src="/static/images/samuel.jpg" alt="picture of Samuel Zimuto">
        <div class="text_center mt-5">
        <h3>Samuel Zimuto</h3>
        <h4 class="mt-5">Innovation & Digital Director</h4>
       </div>
        <figcaption class="mt-10 fs-1-2 ">Versatile	 digital	 technology	 practitioner	 with	 expertise	 in	
            leveraging	innovative	solutions	to	optimize	business	performance	
            across	 UK	 and	 Southern	 African	 markets.	 Skilled	 in	 business	
            process	re-engineering,	marketing,	and	customer	liaison.	
            <!-- Proficient	
            in	 SAP	 and	 GIS	 technologies,	 with	 Scrum	 Master	 certification.	
            Proven	 track	 record	 in	 driving	 digital	 transformation	 initiatives	
            that	enhance	operational	efficiency	and	deliver	tangible	business	
            result. -->
        </figcaption>
    </figure>

    <figure class="mt-20 profile_container">
        <img class="profile_picture" src="/static/images/ashley.jpg" alt="picture of Ashley Ndemera">
        <div class="text_center mt-5">
        <h3>Ashley Ndemera</h3>
        <h4 class="mt-5">Client Relations Officer</h4>
        </div>
        <figcaption class="mt-10 fs-1-2">Experience in building and nurturing strong client
            relationships. Proven track record of enhancing client
            satisfaction and retention through strategic account
            management and effective communication. 
            <!-- Skilled in
            identifying client needs, resolving issues promptly, and
            implementing tailored solutions that drive business
            growth. Adept at leveraging data analytics to inform
            decision-making and improve service offerings, resulting
            in increased revenue and long-term partnerships. -->
        </figcaption>
    </figure>
</div>
</section>
{%endblock%}