{%extends 'layouts/base.html'%}
{%block title%}THEMATIC AREAS{%endblock%}
{%block content%}
<section>
    <div class="banner_background p-20 text_center tc_white  ">
        <h2 class="p-20 mb-10 mt-10 fs-5-5 "><strong>THEMATIC AREAS</strong></h2>
    </div>

    <div class="text_center tc_white thematic_areas_1">
        <div class="bg-black-transparent_1">
            <div class="p-20">
                <img class=" thematic_areas_2 mt-20" src="/static/images/thematic_areas.png" alt="">
            </div>
            <p class="w-75 block_center fs-1-5 p-20">As a team, we work to infuse community empowerment into our
                overarching goal of
                fostering economic growth, enhancing capabilities, and promoting sustainability
                across multiple interconnected thematic areas.</p>
        </div>
    </div>
</section>
{%endblock%}