{%extends 'layouts/base.html'%}
{%block content%}
<section>
    <div class="text_center tc_white thematic_areas_1">
        <div class="bg-black-transparent p-20 ">
        <h2 class="mb-10 fs-2-5 oblique">Thematic Areas</h2>
        <p class="w-75 block_center fs-1-5 mb-10">As a team, we work to infuse community empowerment into our overarching goal of
            fostering economic growth, enhancing capabilities, and promoting sustainability
            across the following interconnected thematic areas:</p>
                <div class="p-20">
                    <img class=" thematic_areas_2" src="/static/images/thematic_areas.png" alt="">
                </div>
        
    </div>
    </div>
</section>
{%endblock%}